:host {
  padding: 0 36px;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  
  app-chat-message {

    &.my-message {
        align-items: flex-end;
        margin-left: auto;
    }

    &:first-child {
        margin-top: auto;
    }
  }
}
